/* modificacion del fondo */
body{
    background-color: black;
}

.hoja_blanca{
    background-color: white;
    margin: 170px 200px 170px 200px;;
}

/* MOdificacion de la seccion 1 */
.contenido_section_1{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.img_1_and_text{
    
}

.img_1{
    height: 20px;
    width: 20px;
}

.img_2_1{
    height: 20px;
    width: 20px;
}

